In [19]:
from sqlalchemy import create_engine

# db_stirng ="postgresql://wbauer_adb:wbauer_adb@pgsql-196447.vipserv.org:5432/dvdrental"
# authentication failed

db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)

In [20]:
from sqlalchemy import MetaData, Table

In [21]:
print(db.table_names())

['staff', 'category', 'film_category', 'country', 'actor', 'language', 'store', 'rental', 'city', 'address', 'film_actor', 'payment', 'users', 'film', 'customer', 'inventory', 'authors', 'books', 'district', 'host', 'room_type', 'location', 'review', 'airBNB', 'neighbourhood_group', 'hosts', 'neighbourhood', 'characterstics', 'reviews', 'players', 'airbnbs', 'states', 'stadiums', 'cities', 'sales', 'teams', 'games', 'video_game', 'genre', 'video_games']

In [22]:
metadata = MetaData()
table_staff = Table("staff", metadata, autoload=True, autoload_with=db)
table_address = Table("address", metadata, autoload=True, autoload_with=db)
table_city = Table("city", metadata, autoload=True, autoload_with=db)
table_country = Table("country", metadata, autoload=True, autoload_with=db)
print(repr(table_staff))
print(repr(table_address))
print(repr(table_city))
print(repr(table_country))
# Relationship between staff and country:
# Staff has foreignKey address_id to Address table which has foreignKey city_id
# City has foreignKey country_id

Table('staff', MetaData(bind=None), Column('staff_id', INTEGER(), table=<staff>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4BBD348>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('last_name', VARCHAR(length=45), table=<staff>, nullable=False), Column('address_id', SMALLINT(), ForeignKey('address.address_id'), table=<staff>, nullable=False), Column('email', VARCHAR(length=50), table=<staff>), Column('store_id', SMALLINT(), table=<staff>, nullable=False), Column('active', BOOLEAN(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4C39488>, for_update=False)), Column('username', VARCHAR(length=16), table=<staff>, nullable=False), Column('password', VARCHAR(length=40), table=<staff>), Column('last_update', TIMESTAMP(), table=<staff>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4C39A08>, for_update=False)), Column('picture', BYTEA(), table=<staff>), schema=None)
Table('address', MetaData(bind=None), Column('address_id', INTEGER(), table=<address>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D75748>, for_update=False)), Column('address', VARCHAR(length=50), table=<address>, nullable=False), Column('address2', VARCHAR(length=50), table=<address>), Column('district', VARCHAR(length=20), table=<address>, nullable=False), Column('city_id', SMALLINT(), ForeignKey('city.city_id'), table=<address>, nullable=False), Column('postal_code', VARCHAR(length=10), table=<address>), Column('phone', VARCHAR(length=20), table=<address>, nullable=False), Column('last_update', TIMESTAMP(), table=<address>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D81D48>, for_update=False)), schema=None)
Table('city', MetaData(bind=None), Column('city_id', INTEGER(), table=<city>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E328BF88>, for_update=False)), Column('city', VARCHAR(length=50), table=<city>, nullable=False), Column('country_id', SMALLINT(), ForeignKey('country.country_id'), table=<city>, nullable=False), Column('last_update', TIMESTAMP(), table=<city>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D813C8>, for_update=False)), schema=None)
Table('country', MetaData(bind=None), Column('country_id', INTEGER(), table=<country>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D81948>, for_update=False)), Column('country', VARCHAR(length=50), table=<country>, nullable=False), Column('last_update', TIMESTAMP(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D84E88>, for_update=False)), schema=None)

In [23]:
table_actor = Table("actor", metadata, autoload=True, autoload_with=db)
table_film_actor = Table("film_actor", metadata, autoload=True, autoload_with=db)
table_film = Table("film", metadata, autoload=True, autoload_with=db)
table_language = Table("language", metadata, autoload=True, autoload_with=db)
print(repr(table_actor))
print(repr(table_film_actor))
print(repr(table_film))
print(repr(table_language))
# Relationship between actor, film and language:
# Film_actor has foreignKey actor_id to Actor table and foreignKey film_id to Film table
# Film has foreignKey language_id to Language table

Table('actor', MetaData(bind=None), Column('actor_id', INTEGER(), table=<actor>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4BAF388>, for_update=False)), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4BB6E88>, for_update=False)), schema=None)
Table('film_actor', MetaData(bind=None), Column('actor_id', SMALLINT(), ForeignKey('actor.actor_id'), table=<film_actor>, primary_key=True, nullable=False), Column('film_id', SMALLINT(), ForeignKey('film.film_id'), table=<film_actor>, primary_key=True, nullable=False), Column('last_update', TIMESTAMP(), table=<film_actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D8F848>, for_update=False)), schema=None)
Table('film', MetaData(bind=None), Column('film_id', INTEGER(), table=<film>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D8FA08>, for_update=False)), Column('title', VARCHAR(length=255), table=<film>, nullable=False), Column('description', TEXT(), table=<film>), Column('release_year', INTEGER(), table=<film>), Column('language_id', SMALLINT(), ForeignKey('language.language_id'), table=<film>, nullable=False), Column('rental_duration', SMALLINT(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D929C8>, for_update=False)), Column('rental_rate', NUMERIC(precision=4, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D92548>, for_update=False)), Column('length', SMALLINT(), table=<film>), Column('replacement_cost', NUMERIC(precision=5, scale=2), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D92B08>, for_update=False)), Column('rating', ENUM('G', 'PG', 'PG-13', 'R', 'NC-17', name='mpaa_rating'), table=<film>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D92FC8>, for_update=False)), Column('last_update', TIMESTAMP(), table=<film>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E4D92908>, for_update=False)), Column('special_features', ARRAY(TEXT()), table=<film>), Column('fulltext', TSVECTOR(), table=<film>, nullable=False), schema=None)
Table('language', MetaData(bind=None), Column('language_id', INTEGER(), table=<language>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E3905888>, for_update=False)), Column('name', CHAR(length=20), table=<language>, nullable=False), Column('last_update', TIMESTAMP(), table=<language>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000168E391ED48>, for_update=False)), schema=None)

In [24]:
from sqlalchemy import select, func, or_
from sqlalchemy.orm import sessionmaker

In [25]:
Session = sessionmaker(bind=db)
session = Session()

rentals = Table("rental", metadata, autoload=True, autoload_with=db)
inventories = Table("inventory", metadata, autoload=True, autoload_with=db)
films = Table("film", metadata, autoload=True, autoload_with=db)
films_categories = Table("film_category", metadata, autoload=True, autoload_with=db)
categories = Table("category", metadata, autoload=True, autoload_with=db)

query = session.query(rentals, films_categories).join(
    inventories, inventories.columns.inventory_id == rentals.columns.inventory_id, isouter=True).join(
    films, films.columns.film_id == inventories.columns.film_id, isouter=True).join(
    films_categories, films_categories.columns.film_id == films.columns.film_id, isouter=True).distinct(
    films_categories.columns.category_id)
print("There is: ", query.count(), " categories.")

There is:  16  categories.

In [26]:
query = session.query(categories).limit(2)
for instance in query:
    print(instance)

(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27))
(2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))

In [13]:
table_film = Table("film", metadata, autoload=True, autoload_with=db)
stmt_desc = select([table_film]).order_by(table_film.columns.release_year.desc())
stmt_asc = select([table_film]).order_by(table_film.columns.release_year)
results_desc = db.execute(stmt_desc).fetchmany(size=1)
results_asc = db.execute(stmt_asc).fetchmany(size=1)
print(results_desc[0].title, results_desc[0].release_year)
print(results_asc[0].title, results_asc[0].release_year)

# All films are from one year, so all are youngest and oldest. Proof:
stmt_group = select([table_film])
stmt_group = stmt_group.where(table_film.columns.release_year != 2006)
results_proof = db.execute(stmt_group).fetchall()
print(len(results_proof))

Chamber Italian 2006
Chamber Italian 2006
0

In [27]:
actors = Table("actor", metadata, autoload=True, autoload_with=db)
instances =  session.query(actors).filter(
        or_(
            actors.columns.first_name == 'Ellen',
            actors.columns.first_name == 'Julia',
            actors.columns.first_name == 'Olympia'
        ))
for instance in instances:
    print(instance)

(27, 'Julia', 'Mcqueen', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(47, 'Julia', 'Barrymore', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(93, 'Ellen', 'Presley', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(171, 'Olympia', 'Pfeiffer', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(186, 'Julia', 'Zellweger', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))
(199, 'Julia', 'Fawcett', datetime.datetime(2013, 5, 26, 14, 47, 57, 620000))