In [49]:
from sqlalchemy import create_engine

In [56]:
db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

engine = create_engine(db_string)

In [57]:
from sqlalchemy import create_engine, MetaData, Table

In [58]:
metadata = MetaData()

dic_table = {}
for table_name in db.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)
    
print(repr(dic_table['category']))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001BA89E9A8C8>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001BA89E9ACC8>, for_update=False)), schema=None)

In [14]:
print(repr(dic_table['category']))

Table('category', MetaData(bind=None), Column('category_id', INTEGER(), table=<category>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001BA88DC74C8>, for_update=False)), Column('name', VARCHAR(length=25), table=<category>, nullable=False), Column('last_update', TIMESTAMP(), table=<category>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001BA87D23F48>, for_update=False)), schema=None)

In [15]:
from sqlalchemy import select

In [70]:
# Zad 1
mapper_stmt = select([dic_table['category']])
%time mapper_results = db.execute(mapper_stmt).fetchall()
print(len(mapper_results))

Wall time: 100 ms
16

In [71]:
#Zad 2
mapper_stmt = select([dic_table['category']]).order_by(dic_table['category'].columns.name.asc())
%time mapper_results = db.execute(mapper_stmt).fetchall()
for r in mapper_results:
    print(r)

Wall time: 97.4 ms
(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27))
(2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))
(3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27))
(4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27))
(5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27))
(6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27))
(7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27))
(8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27))
(9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27))
(10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27))
(11, 'Horror', datetime.datetime(2006, 2, 15, 9, 46, 27))
(12, 'Music', datetime.datetime(2006, 2, 15, 9, 46, 27))
(13, 'New', datetime.datetime(2006, 2, 15, 9, 46, 27))
(14, 'Sci-Fi', datetime.datetime(2006, 2, 15, 9, 46, 27))
(15, 'Sports', datetime.datetime(2006, 2, 15, 9, 46, 27))
(16, 'Travel', datetime.datetime(2006, 2, 15, 9, 46, 27))

In [73]:
#Zad 3
mapper_stmt = select([dic_table['film'].columns.release_year]).order_by(dic_table['film'].columns.release_year.asc()).limit(1)
%time mapper_results = db.execute(mapper_stmt).fetchall()
for r in mapper_results:
    print(r)
mapper_stmt = select([dic_table['film'].columns.release_year]).order_by(dic_table['film'].columns.release_year.desc()).limit(1)
%time time mapper_results = db.execute(mapper_stmt).fetchall()
for r in mapper_results:
    print(r)
#all films are from 2006

Wall time: 107 ms
(2006,)
Wall time: 96.7 ms
Wall time: 97.7 ms
(2006,)

In [19]:
from sqlalchemy import or_, and_

In [20]:
#Zad 4
mapper_stmt = select([dic_table['rental']])\
    .where(and_(dic_table['rental'].columns.rental_date > '2005-07-01', dic_table['rental'].columns.rental_date < '2005-08-01'))
mapper_results = db.execute(mapper_stmt).fetchall()
print(len(mapper_results))

6709

In [21]:
#Zad 5
mapper_stmt = select([dic_table['rental']])\
    .where(and_(dic_table['rental'].columns.rental_date > '2010-01-01', dic_table['rental'].columns.rental_date < '2011-02-01'))
mapper_results = db.execute(mapper_stmt).fetchall()
print(len(mapper_results))

0

In [22]:
#Zad 6
mapper_stmt = select([dic_table['payment']]).order_by(dic_table['payment'].columns.amount.desc()).limit(1)
payment_result = db.execute(mapper_stmt).fetchall()
mapper_stmt = select([dic_table['rental']]).where(dic_table['rental'].columns.rental_id == payment_result[0].rental_id)
rental_result = db.execute(mapper_stmt).fetchall()
print(rental_result)

[(14759, datetime.datetime(2005, 8, 21, 23, 28, 58), 3871, 362, datetime.datetime(2005, 8, 31, 0, 35, 58), 2, datetime.datetime(2006, 2, 16, 2, 30, 53))]

In [23]:
#Zad 7
mapper_stmt = select([dic_table['address']])\
    .where(dic_table['address'].columns.address_id == dic_table['staff'].columns.address_id )
staff_result = db.execute(mapper_stmt).fetchall()
print(staff_result)

[(3, '23 Workhaven Lane', None, 'Alberta', 300, '', '14033335568', datetime.datetime(2006, 2, 15, 9, 45, 30)), (4, '1411 Lillydale Drive', None, 'QLD', 576, '', '6172235589', datetime.datetime(2006, 2, 15, 9, 45, 30))]

In [29]:
#Zad 8
mapper_stmt = select([dic_table['customer']])\
    .where(and_(dic_table['customer'].columns.address_id == dic_table['address'].columns.address_id, dic_table['address'].columns.city_id == dic_table['city'].columns.city_id, dic_table['city'].columns.country_id == dic_table['country'].columns.country_id, or_(dic_table['country'].columns.country == 'Poland',dic_table['country'].columns.country == 'Nigeria', dic_table['country'].columns.country == 'Bangladesh')))
customers_result = db.execute(mapper_stmt).fetchall()
for customer in customers_result:
    print(customer)

(284, 1, 'Sonia', 'Gregory', 'sonia.gregory@sakilacustomer.org', 289, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(318, 1, 'Brian', 'Wyman', 'brian.wyman@sakilacustomer.org', 323, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(572, 1, 'Sidney', 'Burleson', 'sidney.burleson@sakilacustomer.org', 578, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(409, 2, 'Rodney', 'Moeller', 'rodney.moeller@sakilacustomer.org', 414, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(332, 1, 'Stephen', 'Qualls', 'stephen.qualls@sakilacustomer.org', 337, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(286, 1, 'Velma', 'Lucas', 'velma.lucas@sakilacustomer.org', 291, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(80, 1, 'Marilyn', 'Ross', 'marilyn.ross@sakilacustomer.org', 84, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(198, 2, 'Elsie', 'Kelley', 'elsie.kelley@sakilacustomer.org', 202, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(103, 1, 'Gladys', 'Hamilton', 'gladys.hamilton@sakilacustomer.org', 107, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(329, 2, 'Frank', 'Waggoner', 'frank.waggoner@sakilacustomer.org', 334, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(128, 1, 'Marjorie', 'Tucker', 'marjorie.tucker@sakilacustomer.org', 132, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(18, 2, 'Carol', 'Garcia', 'carol.garcia@sakilacustomer.org', 22, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(270, 1, 'Leah', 'Curtis', 'leah.curtis@sakilacustomer.org', 275, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(501, 1, 'Ruben', 'Geary', 'ruben.geary@sakilacustomer.org', 506, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(277, 2, 'Olga', 'Jimenez', 'olga.jimenez@sakilacustomer.org', 282, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(156, 1, 'Bertha', 'Ferguson', 'bertha.ferguson@sakilacustomer.org', 160, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(280, 2, 'Tracey', 'Barrett', 'tracey.barrett@sakilacustomer.org', 285, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(250, 2, 'Jo', 'Fowler', 'jo.fowler@sakilacustomer.org', 254, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(571, 2, 'Johnnie', 'Chisholm', 'johnnie.chisholm@sakilacustomer.org', 577, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(562, 1, 'Wallace', 'Slone', 'wallace.slone@sakilacustomer.org', 568, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(21, 1, 'Michelle', 'Clark', 'michelle.clark@sakilacustomer.org', 25, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(380, 1, 'Russell', 'Brinson', 'russell.brinson@sakilacustomer.org', 385, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)
(558, 1, 'Jimmie', 'Eggleston', 'jimmie.eggleston@sakilacustomer.org', 564, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 0)
(232, 2, 'Constance', 'Reid', 'constance.reid@sakilacustomer.org', 236, True, datetime.date(2006, 2, 14), datetime.datetime(2013, 5, 26, 14, 49, 45, 738000), 1)

In [34]:
#Zad 10
mapper_stmt = select([dic_table['staff']])\
    .where(and_(dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id, dic_table['address'].columns.city_id == dic_table['city'].columns.city_id, dic_table['city'].columns.country_id == dic_table['country'].columns.country_id, or_(dic_table['country'].columns.country == 'Argentina',dic_table['country'].columns.country == 'Spain')))
staff_result = db.execute(mapper_stmt).fetchall()
print(len(staff_result))

0

In [44]:
#Zad 11
mapper_stmt = select([dic_table['category'].columns.name])\
    .where(and_(dic_table['category'].columns.category_id == dic_table['film_category'].columns.category_id, 
                dic_table['film_category'].columns.film_id == dic_table['film'].columns.film_id, 
                dic_table['film'].columns.film_id == dic_table['inventory'].columns.film_id,
                dic_table['inventory'].columns.inventory_id == dic_table['rental'].columns.inventory_id)).distinct()
category_result = db.execute(mapper_stmt).fetchall()
for category in category_result:
    print(category)

('Horror',)
('Comedy',)
('Drama',)
('Sci-Fi',)
('Foreign',)
('Classics',)
('Games',)
('Travel',)
('New',)
('Music',)
('Action',)
('Documentary',)
('Sports',)
('Animation',)
('Children',)
('Family',)

In [67]:
#Zad 12
mapper_stmt = select([dic_table['category'].columns.name])\
    .where(and_(dic_table['country'].columns.country == 'United States',          
                dic_table['category'].columns.category_id == dic_table['film_category'].columns.category_id, 
                dic_table['film_category'].columns.film_id == dic_table['film'].columns.film_id, 
                dic_table['film'].columns.film_id == dic_table['inventory'].columns.film_id,
                dic_table['inventory'].columns.inventory_id == dic_table['rental'].columns.inventory_id,
                dic_table['rental'].columns.staff_id == dic_table['staff'].columns.staff_id,
            dic_table['staff'].columns.store_id == dic_table['store'].columns.store_id,
           dic_table['store'].columns.address_id == dic_table['address'].columns.address_id,
           dic_table['address'].columns.city_id == dic_table['city'].columns.city_id,
           dic_table['country'].columns.country_id == dic_table['country'].columns.country_id)).distinct()
category_result = db.execute(mapper_stmt).fetchall()
for category in category_result:
    print(category)

('Horror',)
('Comedy',)
('Drama',)
('Sci-Fi',)
('Foreign',)
('Classics',)
('Games',)
('Travel',)
('New',)
('Music',)
('Action',)
('Documentary',)
('Sports',)
('Animation',)
('Children',)
('Family',)

In [69]:
#Zad 12
mapper_stmt = select([dic_table['film'].columns.title])\
    .where(and_(dic_table['film'].columns.film_id == dic_table['film_actor'].columns.film_id,
           dic_table['film_actor'].columns.actor_id == dic_table['actor'].columns.actor_id,
           or_(and_(dic_table['actor'].columns.first_name == 'Olympia', dic_table['actor'].columns.last_name == 'Pfeiffer'),
               and_(dic_table['actor'].columns.first_name == 'Julia', dic_table['actor'].columns.last_name == 'Zellweger'),
               and_(dic_table['actor'].columns.first_name == 'Ellen', dic_table['actor'].columns.last_name == 'Presley'))))
film_result = db.execute(mapper_stmt).fetchall()
for film in film_result:
    print(film)

('Bilko Anonymous',)
('Caribbean Liberty',)
('Casper Dragonfly',)
('Empire Malkovich',)
('Floats Garden',)
('Frogmen Breaking',)
('Homeward Cider',)
('Hyde Doctor',)
('Image Princess',)
('Jacket Frisco',)
('Microcosmos Paradise',)
('Network Peak',)
('Oscar Gold',)
('Pickup Driving',)
('Pinocchio Simon',)
('Private Drop',)
('Roots Remember',)
('Scarface Bang',)
('Secretary Rouge',)
('Spy Mile',)
('Streetcar Intentions',)
('Tadpole Park',)
('Treasure Command',)
('Turn Star',)
('Women Dorado',)
('Badman Dawn',)
('Chitty Lock',)
('Color Philadelphia',)
('Contact Anonymous',)
('Deep Crusade',)
('Effect Gladiator',)
('Express Lonely',)
('Firehouse Vietnam',)
('Fugitive Maguire',)
('Hanky October',)
('Ice Crossing',)
('Idols Snatchers',)
('Intolerable Intentions',)
('Magnolia Forrester',)
('Mars Roman',)
('Maude Mod',)
('Murder Antitrust',)
('None Spiking',)
('Others Soup',)
('Psycho Shrunk',)
('Santa Paris',)
('Sense Greek',)
('Storm Happiness',)
('Sweet Brotherhood',)
('Titanic Boondock',)
('Tourist Pelican',)
('Traffic Hobbit',)
('Wait Cider',)
('Breakfast Goldfinger',)
('Cranes Reservoir',)
('Dares Pluto',)
('Detective Vision',)
('Divorce Shining',)
('Hollow Jeopardy',)
('Jeopardy Encino',)
('Lambs Cincinatti',)
('Majestic Floats',)
('Minds Truman',)
('Open African',)
('Outlaw Hanky',)
('Panky Submarine',)
('Rider Caddyshack',)
('Won Dares',)
('Wyoming Storm',)